@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/Atkinson-Hyperlegible-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/Atkinson-Hyperlegible-Italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/Atkinson-Hyperlegible-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: PTMono;
  src: url("/fonts/PT-Mono-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: PTMono;
  src: url("/fonts/PT-Mono-Bold.woff2") format("woff2");
  font-display: swap;
}

body {
    @apply bg-black border-gray-500 text-gray-400 text-lg;
}

h1, h2, h3, h4, h5, h6 {
    @apply text-white font-bold;
}

h1 {
    @apply text-4xl mb-4;
}

h2 {
    @apply text-2xl mb-2;
}

h3 {
    @apply text-xl mb-2;
}

h4 {
    @apply text-lg mb-2;
}

ul {
    @apply list-disc list-outside m-2 ml-8
}

ol {
    @apply list-decimal list-outside my-4 ml-8
}

li {
    @apply my-1
}

p {
    @apply leading-relaxed my-4
}

a {
    @apply hover:underline text-amber-400
}

.btn-primary, .btn-secondary {
    @apply px-3 py-2 font-bold rounded-lg inline-block hover:no-underline
}

.btn-primary {
    @apply bg-amber-400 hover:bg-amber-200 text-black
}

.btn-secondary {
    @apply text-amber-400 hover:bg-amber-700
}
