---
import Layout from '../layouts/main.astro'
---

<Layout title="Contact · XTDB">
  <main>
    <header><h1>Contact</h1></header>

    <section>
      <h2 id="_email">Email</h2>
      <p>For general inquiries, please email <a href="mailto:hello@xtdb.com">hello@xtdb.com</a>.</p>
    </section>
    <section>
      <h2 id="_mailing_address">Mailing Address</h2>
      <p>
        JUXT LTD. Head Office<br/>
        Norfolk House, Studio 1, Ground Floor,<br/>
        Silbury Blvd,<br/>
        Milton Keynes MK9 2AH<br/>
        United Kingdom<br/>
        <br/>
        Company registration: 08457399</p>
    </section>
    <section>
      <h2 id="_phone">Phone</h2>
      <p><a href="tel:+44 (0) 333 93 98 309">+44 (0) 333 93 98 309</a></p>
    </section>
  </main>

</Layout>

<style>
 section {
   @apply mt-8
 }

 h2 {
   @apply mb-2
 }
</style>
