---
import Layout from '../layouts/main.astro'
---

<Layout title="XTDB Privacy Policy · XTDB">
  <main>
    <header>
      <h1>XTDB Privacy Policy</h1>
    </header>

    <p>
      XTDB is part of JUXT Ltd.
      This privacy policy will explain how our organization uses the personal data we collect from you when you use our website.
    </p>

    <section>
      <h2 id="_topics">Topics:</h2>
      <ul>
        <li>What data do we collect?</li>
        <li>How do we collect your data?</li>
        <li>How will we use your data?</li>
        <li>How do we store your data?</li>
        <li>Marketing</li>
        <li>What are your data protection rights?</li>
        <li>What are cookies?</li>
        <li>How do we use cookies?</li>
        <li>What types of cookies do we use?</li>
        <li>How to manage your cookies</li>
        <li>Privacy policies of other websites</li>
        <li>Changes to our privacy policy</li>
        <li>How to contact us</li>
        <li>How to contact the appropriate authorities</li>
      </ul>
    </section>

    <section>
      <h2 id="_what_data_do_we_collect">What data do we collect?</h2>
      <p>XTDB collects the following data:</p>
      <ul>
        <li>Personal identification information (name, email address, phone number, etc. based on your method of communication with us).</li>
        <li>IP Addresses</li>
        <li>Country of origin</li>
        <li>Browser</li>
      </ul>
    </section>

    <section>
      <h2 id="_how_do_we_collect_your_data">How do we collect your data?</h2>
      <p>You directly provide XTDB with most of the data we collect. We collect data and process data when you:</p>
      <ul>
        <li>Register online or place an order for any of our products or services.</li>
        <li>Voluntarily complete a customer survey or provide feedback on any of our message boards or via email.</li>
        <li>Use or view our website, via <a href="https://umami.is/">Umami Analytics</a>.</li>
      </ul>
    </section>

    <section>
      <h2 id="_how_will_we_use_your_data">How will we use your data?</h2>
      <p>XTDB collects your data so that we can:</p>
      <ul>
        <li>Respond to communication, such as service inquiries.</li>
        <li>Process your orders and manage your account.</li>
      </ul>
      <p>XTDB will <strong>not</strong> share your data with partner companies.</p>
    </section>

    <section>
      <h2 id="_how_do_we_store_your_data">How do we store your data?</h2>
      <p>XTDB stores your data on servers running Umami Analytics and third party services, including Google Workspace and Salesforce.</p>
      <p>XTDB will delete your data if you submit a <em>Right to Erasure Request</em>. You do not need to live in the EU or have EU citizenship to make such a request.</p>
    </section>

    <section>
      <h2 id="_marketing">Marketing</h2>
      <p>XTDB would like to send you information about products and services of ours that we think you might like.</p>
      <p>If you have agreed to receive marketing, you may always opt out at a later date.</p>
      <p>You have the right at any time to stop XTDB from contacting you for marketing purposes.</p>
      <p>If you no longer wish to be contacted for marketing purposes, please <a href="mailto:privacy@xtdb.com">contact us</a>.</p>
    </section>

    <section>
      <h2 id="_what_are_your_data_protection_rights">What are your data protection rights?</h2>
      <p>
        XTDB would like to make sure you are fully aware of all of your data protection rights.
        Every user is entitled to the following:
      </p>
      <ul>
        <li>The right to access &#x2013; You have the right to request XTDB for copies of your personal data. We may charge you a small fee for this service.</li>
        <li>The right to rectification &#x2013; You have the right to request that XTDB correct any information you believe is inaccurate. You also have the right to request XTDB to complete the information you believe is incomplete.</li>
        <li>The right to erasure &#x2013; You have the right to request that XTDB erase your personal data, under certain conditions.</li>
        <li>The right to restrict processing &#x2013; You have the right to request that XTDB restrict the processing of your personal data, under certain conditions.</li>
        <li>The right to object to processing &#x2013; You have the right to object to XTDB&#x2019;s processing of your personal data, under certain conditions.</li>
        <li>The right to data portability &#x2013; You have the right to request that XTDB transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
      </ul>
      <p>
        If you make a request, we have one month to respond to you.
        If you would like to exercise any of these rights, please contact us at our email: <a href="mailto:privacy@xtdb.com">privacy@xtdb.com</a>
      </p>
      <p>Call us at: <a href="tel:+44 (0) 333 93 98 309">+44 (0) 333 93 98 309</a></p>
      <p>Or write to us:</p>
      <p>
        Privacy Requests JUXT Ltd. Head Office<br/>
        Technology House, 151 Silbury Blvd.<br/>
        Milton Keynes, MK9 1LH<br/>
        United Kingdom<br/>
      </p>
    </section>

    <section>
      <h2 id="_cookies">Cookies</h2>
      <p>Cookies are text files placed on your computer to collect standard Internet log information and visitor behaviour information. When you visit our websites, we may collect information from you automatically through cookies or similar technology.</p>
      <p>For further information, visit <a href="https://allaboutcookies.org">allaboutcookies.org</a>.</p>
    </section>

    <section>
      <h2 id="_how_do_we_use_cookies">How do we use cookies?</h2>
      <p>XTDB uses cookies in a range of ways to improve your experience on our website, including:</p>
      <ul>
        <li>Keeping you signed in</li>
        <li>Understanding how you use our website</li>
      </ul>
    </section>

    <section>
      <h2 id="_what_types_of_cookies_do_we_use">What types of cookies do we use?</h2>
      <p>There are a number of different types of cookies, however, our website only uses:</p>
      <ul>
        <li>Functionality Cookies &#x2013; XTDB uses these cookies so that we recognize you on our website and remember your previously selected preferences.</li>
      </ul>
    </section>

    <section>
      <h2 id="_how_to_manage_cookies">How to manage cookies</h2>
      <p>
        You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser.
        However, in a few cases, some of our website features may not function as a result.
      </p>
    </section>

    <section>
      <h2 id="_privacy_policies_of_other_websites">Privacy policies of other websites</h2>
      <p>
        The XTDB website contains links to other websites.
        Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.
      </p>
    </section>

    <section>
      <h2 id="_changes_to_our_privacy_policy">Changes to our privacy policy</h2>
      <p>
        XTDB keeps its privacy policy under regular review and places any updates on this web page.
        This privacy policy was last updated on 6 October 2021.
        A log of previous privacy policies will be kept under this heading if and when changes are made.
      </p>
    </section>

    <section>
      <h2 id="_how_to_contact_us">How to contact us</h2>
      <p> If you have any questions about XTDB&#x2019;s privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us. </p>
      <p>Email us at: <a href="mailto:hello@xtdb.com">hello@xtdb.com</a></p>
      <p>Call us: <a href="tel:+44 (0) 333 93 98 309">+44 (0) 333 93 98 309</a></p>
      <p>Or write to us at:</p>
      <p>
        JUXT LTD. Head Office<br/>
        Norfolk House, Studio 1, Ground Floor,<br/>
        Silbury Blvd,<br/>
        Milton Keynes MK9 2AH<br/>
        United Kingdom<br/>
      </p>
    </section>

    <section>
      <h2 id="_how_to_contact_the_appropriate_authority">How to contact the appropriate authority</h2>
      <p>Should you wish to report a complaint or if you feel that XTDB has not addressed your concern in a satisfactory manner, you may contact the Information Commissioner&#x2019;s Office.</p>
      <p><a href="https://ico.org.uk/">https://ico.org.uk/</a></p>
    </section>
  </main>
</Layout>

<style>
 section {
   @apply mt-8
 }

 h2 {
   @apply mb-2
 }
</style>
