---
import MainLayout from '../../../layouts/main.astro'
import LeftNav from '../../../components/left-nav.astro'
---

<MainLayout>
    <div class="flex">
        <LeftNav>
            <a href="install">Install</a>
            <a href="datalog">Datalog</a>
            <a href="operations">Operations</a>
        </LeftNav>

        <div class="grow">
            <slot />
        </div>
    </div>
</MainLayout>
