---
const year = new Date().getFullYear();
---

<footer class="flex justify-between border-t border-t-gray-700 py-4 mt-4">
	<div>XTDB by <a class="text-white" href="https://juxt.pro">JUXT</a></div>
	<div>&copy; 2017-{year} JUXT LTD.</div>
</footer>
