---
import TopNav from '../components/top-nav.astro'
import Footer from '../components/footer.astro'

import '../styles/site.css'

const {title} = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="my-4 mx-8">
		<TopNav />

		<main class="py-4 w-auto">
			<slot />
		</main>

		<Footer />
	</body>
</html>

